<script type="text/javascript">
	var oTbMgrMenu;
	var anOpen = [];
	var metaStatusArr = {$metaStatusJson};
	var topMgrMenuArr = {$topMgrMenuJson};
	$(function () {
		oTbMgrMenu = $('#tbMgrMenu').dataTable({
            'bProcessing': false,
            'bServerSide': true,
            'bPaginate': true,
            'iDisplayLength': iDefaultDisplayLength,
            'bJQueryUI': true,
            'sDom': '<"fg-toolbar ui-toolbar ui-widget-header ui-corner-tl ui-corner-tr ui-helper-clearfix"lp>rt<"fg-toolbar ui-toolbar ui-widget-header ui-corner-bl ui-corner-br ui-helper-clearfix"ip>',
            'bSort': false,
            'bStateSave': false,
            'sAjaxSource': '{:url("pageIndex")}',
            'fnServerData': function (sSource, aoData, fnCallback) {
                $.ajaxGetJSON(sSource, aoData, fnCallback);
            },
            'sPaginationType': 'full_numbers',
            'oLanguage': {
                'sUrl': '__ROOT__static/DataTables-1.10.11/media/jquery.dataTable.cn.txt'
            },
            'aoColumns': [
                {
                	'mDataProp': 'menuName', 
                	'sName': 'menuName',
                	'fnCreatedCell': function(nTd, sData, oData, iRow, iCol){
                		$(nTd).addClass('menuName').attr('id', 'menuName_' + sData + '_' + oData.mgrMenuId);
                	}
                },
                { 
                	'mDataProp': 'topMgrMenuId', 
                	'sName': 'topMgrMenuId',
                	'mRender': function(data, type, full){
                		var reStr = '';
                		if(data == 0){
                			reStr = topMgrMenuArr[full.mgrMenuId];
                		}
                		else{
                			reStr = topMgrMenuArr[data];
                		}
                		return reStr;
                	}
                },
                { 
                	'mDataProp': 'menuCaption', 
                	'sName': 'menuCaption',
                	'fnCreatedCell': function(nTd, sData, oData, iRow, iCol){
                		$(nTd).addClass('menuCaption').attr('id', 'menuCaption_' + sData + '_' + oData.mgrMenuId);
                	}
                },
                { 
                	'mDataProp': 'serialNumber', 
                	'sName': 'serialNumber'
                },
                { 
                	'mDataProp': 'metaStatus', 
                	'sName': 'metaStatus',
                	'fnCreatedCell': function(nTd, sData, oData, iRow, iCol){
                		$(nTd).addClass('metaStatus').attr('id', 'metaStatus_' + oData.metaStatus + '_' + oData.mgrMenuId);
                	},
                	'mRender': function(data, type, full){
                		return metaStatusArr[data];
                	}
                },
                {
                    'sTitle': '操作',
                    'sClass': 'control',
                    'bSortable': false,
                    'mData': 'mgrMenuId',
                    'mRender': function (data, type, full) {
                    	var reStr = '<a href="javascript:void(0)" name="EditMgrMenu" onclick="EditEditMgrMenuClick(\'' + data + '\')">编辑</a>&nbsp;'
                    	+ '<a href="javascript:void(0)" name="DeleteMgrMenu" onclick="DeleteClick(\'' + data + '\',\'' + full['menuName'] + '\')">删除</a>';
                        return reStr;
                    }
                }
            ],
            'fnDrawCallback': function (oSettings) {
            	$('#tbMgrMenu tbody td.menuName').editable('{:url("editMgrMenu")}', {
                    type: 'text',
                    event: 'dblclick',
                    //cancel    : '取消',
                    //submit    : '确定',
                    onblur: 'submit',
                    indicator: '保存中...',
                    tooltip: '双击编辑',
                    onsubmit: function (settings, original) {
                    	$('form', original).validate({
                    		rules: {
                                value: {
                                    required: true,
                                    remote: {
                						url: '{:url("checkMenuNameExist")}',
                						data: {
                							menuName: function(){
                								var menuNameVal = $('form input', original).val();
                								return menuNameVal;
                							},
                							mgrMenuId: function(){ 
                								var mgrMenuIdVal = $(original).attr('id').split('_')[2];
                								return mgrMenuIdVal; 
                							}
                						}
                					}
                                }
                            },
                            messages: {
                                value: {
                                    required: '*',
                                    remote: '该菜单名称已存在'
                                }
                            }
                        });
                        return $('form', original).valid();
                    }
                });
            	$('#tbMgrMenu tbody td.menuCaption').editable('{:url("editMgrMenu")}', {
                    type: 'text',
                    event: 'dblclick',
                    //cancel    : '取消',
                    //submit    : '确定',
                    onblur: 'submit',
                    indicator: '保存中...',
                    tooltip: '双击编辑',
                    onsubmit: function (settings, original) {
                        $('form', original).validate({
                            rules: {
                                value: {
                                    required: true
                                }
                            },
                            messages: {
                                value: {
                                    required: '*'
                                }
                            }
                        });
                        return $('form', original).valid();
                    }
                });
                $('#tbMgrMenu tbody td.metaStatus').editable('{:url("editSelectMgrMenu")}', {
                    onblur: 'submit',
                    indicator: '保存中...',
                    tooltip: '双击选择',
                    type: 'select',
                    event: 'dblclick',
                    data: metaStatusArr,
                    ajaxoptions: {
                    	dataType: 'json'
                    }
                });
            }
        });
		
		$('#bSearch', $('#divMgrMenuSearch')).click(function () {
			var oSettings = oTbMgrMenu.fnSettings();
			
            oSettings.aoPreSearchCols[0].sSearch = $('#menuName', $('#divMgrMenuSearch')).val();
            oSettings.aoPreSearchCols[0].bRegex = false;
            oSettings.aoPreSearchCols[0].bSmart = true;
            
            oSettings.aoPreSearchCols[1].sSearch = $('#topMgrMenuId', $('#divMgrMenuSearch')).val();
            oSettings.aoPreSearchCols[1].bRegex = false;
            oSettings.aoPreSearchCols[1].bSmart = true;
            
            oSettings.aoPreSearchCols[2].sSearch = $('#metaStatus', $('#divMgrMenuSearch')).val();
            oSettings.aoPreSearchCols[2].bRegex = false;
            oSettings.aoPreSearchCols[2].bSmart = true;

            oTbMgrMenu.fnDraw();
        });
		$('#digCreateMgrMenu').dialog({
            width: 560,
            bgiframe: true,
            autoOpen: false,
            modal: true,
            buttons: {
                '新增': function () {
                    CreateMgrMenu($("#frm-CreateMgrMenu"));
                },
                '取消': function () { $(this).dialog('close'); }
            }
        });
		
		$('#bInsert', $('#divMgrMenuSearch')).click(function () {
			$('#digCreateMgrMenu').dialog('open');
        });
		$('#digEditMgrMenu').dialog({
            width: 560,
            bgiframe: true,
            autoOpen: false,
            modal: true,
            buttons: {
                '更新': function () {
                    EditMgrMenu($("#frm-EditMgrMenu"));
                },
                '取消': function () { $(this).dialog('close'); }
            }
        });
		var validatorCreateMgrMenu = $('#frm-CreateMgrMenu').validate({
			rules: {
				menuName: {
					required: true,
					remote: {
						url: '{:url("checkMenuNameExist")}',
						data: {
							menuName: function(){return $('#menuName', $('#frm-CreateMgrMenu')).val();}
						}
					}
				},
				menuCaption: {
					required: true
				},
				serialNumber: {
					required: true,
					number: true
				},
				metaStatus: {
					required: true
				}
			},
			messages: {
				menuName: {
					required: '*',
					remote: '该菜单名称已存在'
				},
				menuCaption: {
					required: '*'
				},
				serialNumber: {
					required: '*',
					number: '请输入数字'
				},
				metaStatus: {
					required: '*'
				}
			},
			ignore: '.ignore'
		});
		var validatorEditMgrMenu = $('#frm-EditMgrMenu').validate({
			rules: {
				menuName: {
					required: true,
					remote: {
						url: '{:url("checkMenuNameExist")}',
						data: {
							menuName: function(){return $('#menuName', $('#frm-EditMgrMenu')).val();},
							mgrMenuId: function(){return $('#mgrMenuId', $('#frm-EditMgrMenu')).val();}
						}
					}
				},
				menuCaption: {
					required: true
				},
				serialNumber: {
					required: true,
					number: true
				},
				metaStatus: {
					required: true
				}
			},
			messages: {
				menuName: {
					required: '*',
					remote: '该菜单名称已存在'
				},
				menuCaption: {
					required: '*'
				},
				serialNumber: {
					required: '*',
					number: '请输入数字'
				},
				metaStatus: {
					required: '*'
				}
			},
			ignore: '.ignore'
		});
	});
</script>
<script type="text/javascript">
	function CreateMgrMenu(frmObj){
		if (frmObj.valid()) {
            var MgrMenu = {
            		topMgrMenuId: $('#topMgrMenuId', frmObj).val(),
            		serialNumber: $('#serialNumber', frmObj).val(),
            		menuName: $('#menuName', frmObj).val(),
            		menuCaption: $('#menuCaption', frmObj).val(),
            		metaStatus: $('#metaStatus', frmObj).val()
            };
            $.ajaxJsonPost({
                url: frmObj.attr('action'),
                params: MgrMenu,
                success: CreateMgrMenuCallback
            });
        }
	};
	function CreateMgrMenuCallback(data){
		dialogAlert({
            bSuccess: data.bSuccess,
            message: data.message,
            open: function () {
                if (data.bSuccess) {
                	if(data.topMgrMenuArr){
                		topMgrMenuArr = $.extend(topMgrMenuArr,data.topMgrMenuArr);
                	}
                	oTbMgrMenu.fnDraw(false);
                    $('#frm-CreateMgrMenu')[0].reset();
                    $('#digCreateMgrMenu').dialog('close');
                }
            }
        });
	};
	function EditEditMgrMenuClick(mgrMenuId) {
        $.ajaxGetJSON($('#frm-EditMgrMenu').attr('action') + '?mgrMenuId=' + mgrMenuId + '&' + Math.random(), null,
        function (data, textStatus, jqXHR) {
            if (data.mgrMenuId != undefined) {
                var frmObj = $('#frm-EditMgrMenu');
                $('#mgrMenuId', frmObj).val(data.mgrMenuId);
                $('#topMgrMenuId', frmObj).val(data.topMgrMenuId);
                $('#menuName', frmObj).val(data.menuName);
                $('#menuCaption', frmObj).val(data.menuCaption);
                $('#serialNumber', frmObj).val(data.serialNumber);
                $('#metaStatus', frmObj).val(data.metaStatus);
                frmObj.valid();
                $('#digEditMgrMenu').dialog('open');
            } else {
                dialogAlert({
                    bSuccess: false,
                    message: '此记录不存在!'
                });
            }
        });
    };
	function EditMgrMenu(frmObj){
		if (frmObj.valid()) {
            var MgrMenu = {
            		mgrMenuId: $('#mgrMenuId', frmObj).val(),
            		topMgrMenuId: $('#topMgrMenuId', frmObj).val(),
            		serialNumber: $('#serialNumber', frmObj).val(),
            		menuName: $('#menuName', frmObj).val(),
            		menuCaption: $('#menuCaption', frmObj).val(),
            		metaStatus: $('#metaStatus', frmObj).val()
            };
            $.ajaxJsonPost({
                url: frmObj.attr('action'),
                params: MgrMenu,
                success: EditMgrMenuCallback
            });
        }
	};
	function EditMgrMenuCallback(data){
		dialogAlert({
            bSuccess: data.bSuccess,
            message: data.message,
            open: function () {
                if (data.bSuccess) {
                	oTbMgrMenu.fnDraw(false);
                    $('#frm-EditMgrMenu')[0].reset();
                    $('#digEditMgrMenu').dialog('close');
                }
            }
        });
	};
	function DeleteClick(mgrMenuId, menuName){
		dialogConfirm({
            message: '确定要删除菜单[' + menuName + ']吗？',
            Ok: function () {
            	$.ajaxJsonPost({
                    url: "{:url('delete')}",
                    params: {mgrMenuId : mgrMenuId},
                    success: DeleteClickCallback
                });
            }
        });
	};
	function DeleteClickCallback(data){
		dialogAlert({
            bSuccess: data.bSuccess,
            message: data.message,
            open: function () {
                if (data.bSuccess) {
                	oTbMgrMenu.fnDraw(false);
                }
            },
            close: function () {
                dialogConfirmClose();
            }
        });
	}
</script>
<div id="divMgrMenuSearch" class="usercont" style="width: 100%;">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td>菜单名称：<input name="menuName" id="menuName" style="width: 120px;" type="text" maxlength="18" value=""></td>
			<td>
				顶级菜单：
				<select name="topMgrMenuId" id="topMgrMenuId">
	              	<option value="">-所有-</option>
	              	<option value="0">顶级</option>
					{volist name="topMgrMenuList" id="topMgrMenuListVal"}
						<option value="{$topMgrMenuListVal.mgrMenuId}">{$topMgrMenuListVal.menuName}</option>
	              	{/volist}
				</select>
			</td>
			<td>
				菜单状态：
				<select name="metaStatus" id="metaStatus">
					<option value="">-所有-</option>
					{volist name="metaStatusList" id="metaStatusVal"}
              			<option value="{$metaStatusVal.Id}">{$metaStatusVal.Value}</option>
               		{/volist}
				</select>
			</td>
			<td>
                <input type="button" id="bSearch" value="查询" class="btn" />
                &nbsp;
                <input type="button" id="bInsert" value="新增" class="btn" />
            </td>
		</tr>
	</table>
</div>
<div class="userbox" style="width: 100%;">
	<table id="tbMgrMenu" class="ex_highlight" style="width:100%">
		<colgroup>
	        <col style="width:15%" />
	        <col style="width:15%" />
	        <col style="width:30%" />
	        <col style="width:15%" />
	        <col style="width:15%" />
	        <col style="width:10%" />
	    </colgroup>
	    <thead>
	        <tr>
	            <th>菜单名称</th>
	            <th>顶级菜单</th>
	            <th>菜单描述</th>
	            <th>排序</th>
	            <th>菜单状态</th>
	            <th class="control">操作</th>
	        </tr>
	    </thead>
	    <tbody></tbody>
	</table>
</div>
<div id="digCreateMgrMenu" style="display: none;width:500px;" title="新建菜单">
	{include file="MgrMenuList/Create" form_id="frm-CreateMgrMenu" /}
</div>
<div id="digEditMgrMenu" style="display: none;width:500px;" title="编辑菜单">
	{include file="MgrMenuList/Edit" form_id="frm-EditMgrMenu" /}
</div>